//- *** MIXIN SHOW POST ***
//- ---------------------
//- @abstract       Function to display a blog tut
//- @param          Object tut
//- @param          String view (preview)

mixin show-tut(tut, view)
  //- *** PREVIEW VIEW ***
  //- ---------------------
  - if ( view === 'preview' )
    .row.tut
      .columns.small-12
        each language in tut.languages
          a.button.tiny.success.round(href='/blog/search/language/' + language.key)
            span=language.key
          span  

      .columns.small-12
        h2.text-center 
        
          span  
          a(href='/tuts/' + tut.id + '/' + tut.slug)=tut.title 

        p.text-center Posted 
          code=fromNow(tut.time.tuted)
          | .

        p.panel.radius
          big=tut.blurb

        p.text-center
          //
            span.label.round Languages

            span  

            each language in tut.languages
              a.label.secondary.round(href='/blog/search/language/' + language.key)=language.key
              span 

            span  

            span.label.round Tags

          span  

          each tag in tut.tags
            a.button.tiny.secondary.round(href='/blog/search/tag/' + tag.key)=tag.key
            span  